.sucess {
  color: green;
  background-color: lightgray;
  border-style: solid;
  border-radius: 10px;
  font-size: 20px;
  padding: 10px;
  margin-bottom: 20px;
}

.error {
  color: red;
  background-color: lightgray;
  border-style: solid;
  border-radius: 10px;
  font-size: 20px;
  padding: 10px;
  margin-bottom: 20px;
}
